<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Startup Responsive Landing page Template for startup, web services, newsletter signup, lead generation etc..">
<title>ConversationLive</title>

<!-- Bootstrap core CSS -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

<!-- Startup CSS -->
<link href="{% static "css/startup.css" %}" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="shortcut icon" href="{% static "images/favicon.png" %}">
<script src="{% static "js/pace.js" %}"></script>

<!-- Custom Google Font : Open Sans -->

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
</head>
<body class="signup-h-layout">
<div class="preloader"></div>
<!-- Parallax Header Starts -->
<main id="top" class="masthead" role="main">
  <div class="container">
    <!-- Startup Logo -->

    <!-- Hero Title -->
    <h1>You have successfully signed up for a free trial class</h1>
    <p>Someone will contact you by email and phone shortly</p>
    <!-- // Mailchimp Subscribe form Ends -->
    <!--  Scroll to Explore -->
    <a href="#explore" class="scrollto">
    <p>SCROLL DOWN TO EXPLORE</p>
    <p class="scrollto--arrow"><img src="{% static 'images/scroll_down.png' %}" alt="scroll down arrow"></p>
    </a>
    <!-- // Scroll to Explore Ends -->
  </div>
</main>
<!-- // Parallax Header Ends -->
<!-- Container -->
<div class="container" id="explore">
  <!-- Hero Image -->
  <div class="section-title">
    <h2>About Chris</h2>
    <h4>The greatest teacher who ever lived. </h4>
  </div>
  <section class="row heroimg breath">
    <div class="col-md-12 text-center"> <img src="" alt="flat-mockup-template"></div>
  </section>
  <!-- //Hero Image -->

  <!-- Features Section -->
  <div class="section-title">
    <h2>Some great reasons to take a class with Chris</h2>
    <h4>He really is great</h4>
  </div>
  <section class="row features">
    <!-- Feature 01 -->
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="" alt="analytics-icon">
        <div class="caption">
          <h3>Reason 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
      </div>
    </div>

    <!-- Feature 02 -->
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="" alt="analytics-icon">
        <div class="caption">
          <h3>Read 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>

    <!-- Feature 03 -->
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="" alt="analytics-icon">
        <div class="caption">
          <h3>Reason 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
      </div>
    </div>

    <!-- Feature 04 -->

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="" alt="analytics-icon">
        <div class="caption">
          <h3>Reason 4</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
      </div>
    </div>
  </section>
  <!-- // Features Section Ends -->

  <!-- Client Logos -->
  <div class="section-title">
    <h2>An Experienced Teacher</h2>
    <h4>I've worked for these institutions</h4>
  </div>
  <section class="row clientlogo breath">
    <p> <img src="{% static 'images/school-logos.jpg' %}" alt="Logo Not Found"> </p>
      <p> <img src="{% static 'images/canada-logos.jpg' %}" alt="Logo Not Found"> </p>
  </section>

  <!-- // End Client Logos -->

</div>
<!-- // Container Ends -->

<!-- Grey Highlight Section -->
<div class="highlight testimonials">
  <div class="container">

    <!-- Testimonials -->
    <div class="section-title">
      <h2>What his students say about him</h2>
      <h4>He really is amazing</h4>
    </div>
    <section class="row breath">
      <div class="col-md-6">
        <div class="testblock">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <div class="clientblock"> <img src="" alt=".">
          <p><strong>Jin Yang</strong> <br>
           2016 <a href="#"></a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testblock">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <div class="clientblock"> <img src="" alt=".">
          <p><strong>Minseon</strong> <br>
            2017 <a href="#">Somewhere else</a></p>
        </div>
      </div>
    </section>
    <!-- // End Testimonials -->

  </div>
</div>
<!-- // End Grey Highlight Section -->

<!-- Container -->
<div class="container">

  <!-- Pricing -->
  <div class="section-title">
    <h2>Reasonable Prices</h2>
    <h4>Classes are online through WeChat</h4>
  </div>
  <section class="row breath planpricing">
    <div class="col-md-4">
      <div class="pricing color1">
        <div class="planname">一对一 课</div>
        <div class="price"> <span class="curr">元</span>200<span class="per">/课</span></div>
        <div class="billing">Class by Class</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pricing color2">
        <div class="planname">1:4 Class</div>
        <div class="price"> <span class="curr">元</span>60<span class="per">/课</span></div>
        <div class="billing">8 classes X 60</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pricing color3">
        <div class="planname">Recording Feedback</div>
        <div class="price"> <span class="curr">元</span>40<span class="per">/2-3 minute recording</span></div>
        <div class="billing">5 recording minimum (元200)</div>
      </div>
    </div>
  </section>
  <!-- // End Pricing -->

  <!-- FAQ -->
  <div class="section-title">
    <h5>Frequently Asked Questions</h5>
  </div>
  <section class="row faq breath">
    <div class="col-md-6">
      <h6>Do you offer a free trial class?</h6>
      <p>I offer a free 15 minute class. To book your free trial, sign up above</p>
      <h6>What if I think your class sucks?</h6>
      <p>I don't really care. </p>
    </div>
    <div class="col-md-6">
      <h6>What is your refund policy?</h6>
      <p>I offer a full refund for all unused classes. No questions asked.</p>
      <h6>What payment types do you accept?</h6>
      <p>We accept WeChat and Cash</p>
    </div>
  </section>
  <!-- // End FAQ -->

</div>
<!-- // Container Ends -->

<!-- Parallax Footer Starts -->
<main class="footercta" role="main">
  <div class="container">

    <!-- Hero Title -->
    <h1>The Fastest <strong>Most Powerful Way</strong> <br>
      to <strong>Improve</strong> your English speaking skills</h1>
    <!-- Mailchimp Subscribe form -->

  </div>
</main>
<!-- // Parallax Footer Ends -->

<!-- Container -->
<div class="container">
  <section class="row breath">

      <p>&copy; 2018 ConversationLive Inc. All Rights Reserved</p>
    </div>
  </section>
  <!-- // End Client Logos -->

</div>
<!-- // Container Ends -->

<!-- JS and analytics only. -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/easing.js" %}"></script>
<script src="{% static "js/typer.js" %}"></script>
<script src="{% static "js/nicescroll.js" %}"></script>

<!-- Typer -->

<script>
    $(function () {
      $('[data-typer-targets]').typer();
    });
  </script>

<!-- Scroll to Explore -->

<script>


 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });


</script>



</body>
</html>
